:root{
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
}

.book-cover {
    width: var(--book-cover-width);
    height: var(--book-cover-width) / var(--book-cover-aspect-ratio);
    background-color: var(--color-background-light);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fit, var(--book-cover-width-large));
}